@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Prompt", sans-serif;
}

.blurred-content {
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
}

@media print {
  .no-print,
  aside,
  header {
    display: none !important;
  }
  body,
  main {
    background: white !important;
    overflow: visible !important;
    height: auto !important;
  }
}
